subscription_id         = "00000000-0000-0000-0000-000000000000"
tenant_id               = "00000000-0000-0000-0000-000000000000"
iis_admin_uname         = "azureuser"
iis_admin_pwd           = "SecretPassword123!"
iis_admin_uname         = "azureuser"
iis_admin_pwd           = "SecretPassword123!"
spokevm_admin_uname     = "azureuser"
spokevm_admin_pwd       = "SecretPassword123!"